table, tr, td, th {
    border: 1px solid white;
    border-collapse: collapse;
}

table {
    table-layout: fixed;
    width: 100%;
    height: 100%;
}

td, tr, th {
    width: 10%;
    height: 10%;
}

.game {
    width: 80%;
    height: 80%;
    margin: auto;
}

.control {
    width: 80%;
    height: auto;
    margin:auto;
    padding-top: 3rem;
}

table tr.focus {
    border-color: darkred;
}

button {
    display:inline-block;
    background-color: transparent;
    padding:0.6em 3.5em;
    border:0.16em solid #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    color:#FFFFFF;
    transition: all 0.15s;
}

button:hover{
    mix-blend-mode: screen;

    background-color: white;
}

button:active{
    background-color: #BBBBBB;
    border-color: #BBBBBB;
}
body{
    background: linear-gradient(139deg, #000000,#000000,#660c78,#3E0141,#26347a, #092c6b, #000000, #000000);
    background-size: 1200% 1200%;

    -webkit-animation: bgGradient 200s ease infinite;
    -moz-animation: bgGradient 200s ease infinite;
    animation: bgGradient 200s ease infinite;
}

@-webkit-keyframes bgGradient {
    0%{background-position:14% 0%}
    50%{background-position:87% 100%}
    100%{background-position:14% 0%}
}
@-moz-keyframes bgGradient {
    0%{background-position:14% 0%}
    50%{background-position:87% 100%}
    100%{background-position:14% 0%}
}
@keyframes bgGradient {
    0%{background-position:14% 0%}
    50%{background-position:87% 100%}
    100%{background-position:14% 0%}
}
